/* general text */
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-size: 18pt;
}
h1{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 56px;
    text-align: center;
    text-rendering: optimizeLegibility;
    padding-bottom: 40px;
    padding-top: 40px;
    text-transform: uppercase;
    -webkit-animation:colorchange 20s infinite alternate;
}
h1:focus{
    /* borrow from Zixi Pan - MSI Student */
    background-color: var(--c_01);
}
h2{
    font-size: 36px;
    line-height: 2.5;
    text-align: center;
}
/* header styling */
/* borrowed and modified from https://codepen.io/juanbrujo/pen/yGpAK */
.elegantshadow{
    color:rgb(57, 0, 212);
    letter-spacing: 1px;
    text-shadow:
    4px 4px 0px #d5d5d5,
    7px 7px 0px rgba(0, 0, 0, 0.2);
    }
/* header animation */
/* borrowed and modified from https://codepen.io/raaasin/pen/quvHr */
/* re: wave contrast issue - the error only displays on certain colors. the colors change every 2 seconds or based on animiation. I altererd some of the lighter colors to show darker to contrast better with white background. Hopefully that resolves infrequent contrast issues */
@-webkit-keyframes colorchange {
    0% {
        color: blue;
    }
    10% {
        color: #8e44ad;
    }
    20% {
        color: #1abc9c;
    }
    30% {
        color: #d35400;
    }
    40% {
        color: blue;
    }
    50% {
        color: #34495e;
    }
    60% {
        color: blue;
    }
    70% {
        color: #026eb6;
    }
    80% {
        color: #fdcb01;
    }
    90% {
        color: #37afff;
    }
    100% {
        color: rgb(148, 41, 58);
    }
}
/* upper nav */
header{
    height: 150px;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    background:#fafafa;
    border-bottom: 4px solid rgb(119, 102, 167);
}
.nav_pages{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding-top:5px;
    padding-bottom:5px;
}
.nav_link a{
    color: rgb(39, 39, 39);
    text-decoration: none;
    line-height: 1.5;
}
#current{
    text-decoration: initial;
    text-transform: uppercase;
    font-style: italic;
    border: 2px rgb(60, 80, 33);
	border-style: solid none none none;
	background-color:  rgb(180, 244, 96);
}
.nav_link a:hover, a:focus{
    color: orangered;
    text-decoration: underline dotted;
}
.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
}
.skip a{
position: absolute;
top: -40px;
}
.skip a:focus{
position: absolute;
top: 10px;
}

/* primary page content */
.about-section{
    display: block;
    padding: 0 10px 20px 10px;
    width: 95%;
    justify-content: center;
    text-align: center;
}
#bannerimg{
    display: flex;
    width: 100%;
    height: 500px;
}
.didyouknow{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.stat-section{
    width: 500px;
    height: auto;
    margin: 10px;
    border-radius: 8px;
    padding: 10px 15px;
}
.stat-txt-section{
    text-align: center;
}
.stat-img-section{
    padding: 20px 0 20px 0;
    width: 100%;
    height: 350px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid rgb(57, 0, 212);
}

/* footer */
footer{
    background-color: #fafafa;
    color: black;
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
}
/* tablet */
@media screen and (min-width: 870px){
    header{
        height: 80px;
        flex-direction: row;
    }
    .nav_pages{
        flex-direction: row;
        padding: 10px;
    }
    .nav_link a{
        padding: 14px;
    }
    .nav_link a:hover, a:focus{
        text-decoration: underline wavy rgb(57, 0, 212);
    }
    h2{
        margin: 20px 0 0 0;
    }
    .about-section{
        text-align: justify;
        margin: auto;
        padding: 0 20px 30px 20px;
        width: 95%
    }
    .didyouknow{
        flex-direction: column-reverse;
    }
    .stat-txt-section{
        text-align: justify;
        align-items: flex-start;
        min-height: 120px;
    }
    img{
        border: 6px solid rgb(57, 0, 212);
    }
    #bannerimg{
        border: none;
        filter: grayscale(50%);
    }
}

/* desktop */
@media screen and (min-width: 1120px){
    header{
        flex-direction: row-reverse;
    }
    .nav_pages{
        flex-direction: row;
    }
    img{
        border: 10px solid rgb(57, 0, 212);
    }
    #bannerimg{
        border: none;
        filter: grayscale(75%);
    }
    .didyouknow{
        flex-direction: row-reverse;
    }
}

@media screen and (prefers-reduced-motion: reduce){
    .skip a{
        -webkit-transition: none;
        transition: none;
    }
    h1{
        animation: none;
    }
}
@media (prefers-reduced-motion: reduce) {
    .skip a, h1 {
        animation-duration: 0s;
        transition: none;
        scroll-behavior: auto;
        -ms-transform: none;
    }
}